<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 아래 태그를 통해 프로퍼티 로드 -->
    <context:property-placeholder location="classpath:application.properties"/>
    <beans profile="postgres">
        <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
            <property name="driverClass" value="${Globals.postgres.DriverClassName}"/>
            <property name="url" value="${Globals.postgres.Url}" />
            <property name="username" value="${Globals.postgres.UserName}"/>
            <property name="password" value="${Globals.postgres.Password}"/>
        </bean>
    </beans>
</beans>